body
{
    background-color: rgb(13, 11, 32);
    color: white;
    display: flex;
    place-content: start center;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;

}

aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;  
    color: rgba(255, 255, 255, 0.459);
}


li{
    background-color: rgba(187, 198, 255, 0.459);
    margin: 10px;
    padding: 5px;
    transition: transform 0.3s ease;
}
.principal{
    background-color: rgb(187, 198, 255);
    margin: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}
.principal a{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
li:hover{
    transform: scale(1.1);
}
