.boton{
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(56, 82, 155);
}
.boton:hover
{
    transform: scale(1.2);
    background-color: rgb(44, 68, 134);
}
.boton:active{
    background-color: rgb(44, 134, 114);
}
#abrirModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.overlay{
    display: none;
    position: fixed;
    margin: 10px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 500px;
    /* esto mueve el elemento hacia la mitad de su ancho y alto */
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.modal{
    overflow: hidden;
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 94%;
    height: 92%;
}

.visible{
    display: block;
}