main{
    display: grid;
    place-items: center;
}
h1{
    text-align: center;
}
section{
    
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    min-width: max-content;
}
div{
    width: 60px;
    height: 60px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255); /* color del texto*/
    border-color: black;
    border-style: double;
    transition: transform 0.3s ease;
    /* background-color: rgb(126, 126, 126); */
}
div:hover{
    transform: scale(1.2);
}

.n_atomico, .m_atomica, .simbolo,.nombre{
    display:flex ;
    margin-left: 2px;
    margin-right: 2px;

    /* background-color: aquamarine; */
}
.n_atomico{
    justify-content: left;
}
.m_atomica{
    margin-top: -16px;
    justify-content: right;
}
.simbolo
{
    justify-content: center;
    margin-top: 1px;
}
.nombre
{
    justify-content: center;
    margin-top: -20px;
}

.void{
    background-color: brown;
    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    
}
.espacio{
    margin-right: 30px;
}

span{
    width:  20px;
    height: 20px;
    border-radius: 50%;
    
    border-color: rgb(255, 255, 255);
    border-style:inset double;
    transition: transform 0.3s ease;
    

}
span:hover
{
    transform: scale(1.5);
}

label{
    width: 200px;
}

.no_reactivo
{

}
.gas_noble
{

}
.alcalino
{}
.metaloide
{}
.postransicionales
{}
.alcalinotérreos
{}
.Lantánidos
{}
.actinoides
{}
.desconocidas
{
    
}