main{
    display: grid;
    place-items: center;
}
h1{
    text-align: center;
}
section{
    
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    min-width: max-content;
}
div{
    width: 60px;
    height: 60px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255); /* color del texto*/
    border-color: black;
    border-style: double;
    border-radius: 15%;
    transition: transform 0.3s ease;
    /* background-color: rgb(126, 126, 126); */
}
div:hover{
    transform: scale(1.2);
}

.n_atomico, .m_atomica, .simbolo,.nombre{
    display:flex ;
    margin-left: 2px;
    margin-right: 2px;

    /* background-color: aquamarine; */
}
.n_atomico{
    justify-content: left;
}
.m_atomica{
    margin-top: -16px;
    justify-content: right;
}
.simbolo
{
    justify-content: center;
    margin-top: 1px;
}
.nombre
{
    justify-content: center;
    margin-top: -20px;
}

.void{

    border-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    
}
.espacio{
    margin-right: 30px;
}

span{
    width:  20px;
    height: 20px;
    border-radius: 50%;
    
    border-color: rgb(255, 255, 255);
    border-style:inset double;
    transition: transform 0.3s ease;
    

}
span:hover
{
    transform: scale(1.5);
}

label{
    width: 200px;
}

.no_reactivo
{
    background-color: rgb(59, 82, 207);
}
.gas_noble
{
    background-color: rgb(168, 95, 95);
}
.alcalino
{
    background-color: rgb(71, 113, 116);
}
.metaloide
{
    background-color: rgb(143, 137, 83);
}
.postransicionales
{
    background-color: rgb(64, 117, 84);
}
.transicionales{
    background-color: rgb(101, 70, 109);
}
.alcalinotérreos
{
    background-color: rgb(136, 88, 88);
}
.Lantánidos
{
    background-color: rgb(42, 47, 117);
}
.actinoides
{
    background-color: rgb(184, 101, 54);
}
.desconocidas
{
    background-color: rgb(126, 126, 126);
}