body{
    font-family: sans-serif;
    text-align: center;
    background-color: #001f3f;
}
.divBody
{
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    background-color: rgb(229, 224, 255);
}
.header-title{
    position: absolute;
    left:12px
}
header,footer{
    background-color: rgb(162, 162, 214);
    border-bottom: 1px solid;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
header{
    font-style: italic;
    font-weight: bold;
    height: 40px;
}
footer{
    position: fixed;
    bottom: 10px;
}
nav{
    position: relative;
    width: 98%;
    left: 1%;
}
ul{
    display: flex;
    justify-content: space-between;
    
}
li{
    color: white;
    /* border: 1px groove black; */
    display: grid;
    align-items: center;
    width: 200px;
    height: 25px;
    margin-right: 5%;
}
table{
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    
}
th,td{
    background-color: rgb(194, 205, 255);
    width: 400px;
    border-radius: 5px;
    /* border: 1px solid rgb(0, 0, 0) */
}
.row{
    height: 70px;
    transition: transform 0.3s ease;
}
.row:hover{
    transform: scale(1.2);
}
.row:active{
    transform: scale(1.1);
}

section{
    display: flex;
    margin: 20px;
    justify-content: center;

}
.card{
    padding: 1px;
    margin: 10px;
    width:  250px;
    height: 250px;
    min-width: 250px;
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;
    text-align: left;
    border-radius: 10%;
}
.card img{
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.card:hover{
    transform: scale(1.2);
    background-color: rgba(35, 55, 170,0.2);
}
.card-titulo,.card-texto
{
    position: absolute;
    padding: 10px;
}
.card-titulo{
    top: 63%;
    font-weight: bold;
}
.card-texto{
    top:70%;
}
@keyframes escala {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#noticias-cortas:target,#noticias-importantes:target
{
    animation: escala 0.6s ease;
}