.container{
    width: 100%;
    max-width: 1850px;
    /* display: block; */
    /* opacity: 0; */
}

.product{
    height: 400px;
    /* background-color: rgb(38, 73, 102); */
    overflow: hidden;
    margin-bottom: 10px;
}
.product h3{
    text-align: center;
    color: white;
}
.SubContain{
    display: flex;

}
.previous,.next{
    /* background-color: aqua; */
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.previous button,.next button{
    width: 30%;
    height: 30%;
    transform: translate(0,-20%);
    transition: transform 0.3s ease;
    border-radius: 50%;
    font-size: 25px;
}
.previous button:hover,.next button:hover{
    transform: scale(1.2)
               translate(0,-20%)
}
.previous button:active,.next button:active{
    transform: scale(1.1)
               translate(0,-20%)
}

.carousel{
    /* background-color: brown; */
    height:500px;
    flex:1;
    overflow: hidden;
    display: flex;
}

.item{
    height: 337px;
    width: 400px;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.274);
    color: black;
    margin-left: 30px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid white;
    transition: transform 0.3s ease;
}
.item:hover{
    transform: scale(0.9);
}
.titleDiv{
    width: 100%;
    height: 70px;
}
.titleDiv h3{
    
    padding-left: 20px;
    padding-right: 20px;
}
.itemDiv {
    width: 100%;
    min-height: 50%;
    max-height: 50%;
    display: flex;
    justify-content: center;
}
.itemDiv img{
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.buttonDiv{
    display: flex;
    justify-content: center;
}
.ratingDiv{
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}


.itemDescription{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(7, 4, 36, 0.671);
    /* display: grid; */
    display: none;
    place-items: center;
}
.productPreview
{
    width: 600px;
    height: 500px;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(7, 4, 36);
    color: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    border: 4px solid white;
}

.imgPrev{
    flex: 1;
}
.imgPrev div{
    text-align: center;
    display: grid;
    place-content: center;
    margin: 10px
}
.imgPrev img{
    width: 90%;
    height: 90%;
    object-fit: contain;
    
}

.subproductPreview{
    flex: 1;
}

.previewDescr{
    width: 100%;
    height: 70%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.previewDescr p {
    font-weight: bold;
}

.productPrice{
    width: 100%;
    height: 30%;
    display: grid;
    place-content: center;
}


.Divaccount{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}