.header-send{
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 16%;
    display: grid;
    place-items: center right;

    /* background-color: rgba(255, 228, 196, 0.452); */
}

.header-search{
    /* background-color: rgb(196, 231, 180); */
    width: 55%;
}
.header-search form{
    display: flex;
    align-items: center; /* centra verticalmente */
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.box{
    text-align: right;
    width: 145px;
    flex-shrink: 0;
    /* shrink evitara que se reduzca el tamaño */
}
.box select{
    display: grid;
    place-content: center ;
    height: 40px;
    width: 100%;
    border: 1px solid #ffffff;
    outline: none;
    background-color: rgb(255, 255, 255);
}
.searchfield{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

}
.searchfield input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: border-box;
}

.searchIcon{
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}
.searchIcon img{
    width: 100%;
    height: 40px;
    transform: scale(0.7);
    transition: transform 0.3s ease;
}
.searchIcon img:hover {
    transform: scale(0.6);     /* Reduce el tamaño al 90% */
}
.header-cart{
    flex:1;
    display: flex;
}
.account{
    height: 100%;
    width: 100px;
    flex: 1;
    display: grid;
    place-content: center;
    color: white;

}
.account span{
    text-align: center;
    width: 160px;
}

.cartShoop{
    flex: 0.4;
    display: flex;
}

.cartShoop img{
    width: 70px;
    height: auto;
    transition: transform 0.3s ease;
}
.cartShoop img:hover{
    transform: scale(0.9);
}
.cartShoop div{
    display: flex;
    flex: 1;
    color: white;
    font-weight: bold;
    align-items: center;

}